<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wad.tBook">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting.DevMsgActivity"></activity>
        <activity android:name=".edit.EditActivity" />
        <activity android:name=".TestActivity"></activity>
        <activity android:name=".login.Register" />
        <activity
            android:name=".accounting.AccountingActivity"
            android:label="@string/title_activity_accounting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".statistical.others.OtherStatisticalActivity" />
        <activity android:name=".account.AccountDetailActivity" />
        <activity
            android:name=".statistical.others.StatisticalActivity"
            android:label="@string/title_activity_statistical"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".accounting.AddActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".setting.PersonMsgActivity" />
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>